@font-face {
  font-family: brochabook;
  src: url(../../assets/fonts/brocha-book.otf);
}

@font-face {
  font-family: brochablack;
  src: url(../../assets/fonts/brocha-black.otf);
}

body {
  font-family: brochabook;
}
