@font-face {
  font-family: brochabook;
  src: url(../../assets/fonts/brocha-book.otf);
}

@font-face {
  font-family: brochablack;
  src: url(../../assets/fonts/brocha-black.otf);
}

body {
  font-family: brochabook;
  overflow-x: hidden;
}

.tab-content > .tab-pane:not(.active),
.pill-content > .pill-pane:not(.active) {
  display: block;
  height: 0;
  overflow-y: hidden;
}

.tab-content > .active,
.pill-content > .active {
  height: auto;
  width: auto;
}

* {
  box-sizing: border-box;
}
