#choose-product {
  .intro-tabs {
    margin: 30px 0px;

    h3 {
      font-family: brochablack;
      color: #024531;
      margin: 30px 0;
    }

    .nav-tabs {
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: 0px;

      > li {
        .active {
          background: #024531 !important;
          color: #fff;
        }

        a {
          padding: 10px 40px;
          border-radius: 50px;
          font-family: brochablack;
          background: transparent;
          color: #024531;
        }
      }
    }
  }

  .btn-primary {
    background: transparent;
    color: #024531;
    font-family: brochablack;
    border-radius: 50px;
    border-color: #024531;
  }

  .product {
    background: #024531;
    color: #fff;
  }

  ul {
    padding: 0px !important;
    > li {
      list-style: none;
      display: inline-block;
      margin: 0px 5px;

      .btn-primary {
        background: #024531;
        color: #fff;

        @media (max-width: 900px) {
          padding: 6px 12px;
          margin: 0px 5px;
        }
      }

      p {
        font-size: 14px;
        margin: 0px !important;
      }
    }
  }
}
