header {
  .navbar {
    background: #fff;
    border-bottom: 1px solid #e5e5e5;
  }

  .fa-bars {
    color: #024531;
    font-size: 30px;
  }

  .nav-link {
    font-family: brochablack;
    color: #024531 !important;

    @media (min-width: 1200px) {
      padding-right: 1.5rem !important;
      padding-left: 1.5rem !important;
    }
  }

  .btn-primary {
    background: transparent;
    border-color: transparent;

    &:hover {
      background: transparent;
    }

    &:focus {
      background: transparent;
    }
  }
}

.modal-body {
  .nav-link {
    color: #024531;
    font-family: brochablack;
    margin: 15px;

    img {
      margin-right: 15px;
    }
  }
}

.modal-content {
  border-radius: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.modal-header {
  border-bottom: 0px;
}

.close {
  font-size: 2.5rem;
  padding: 0px !important;
  margin: 0rem 1rem 0rem auto !important;
  color: #024531;
}

hr {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
