header {
  .navbar {
    background: #fff;
    border-bottom: 1px solid #e5e5e5;
  }

  .fa-bars {
    color: #024531;
    font-size: 30px;
  }

  .nav-link {
    font-family: brochablack;
    color: #024531 !important;

    @media (min-width: 1200px) {
      padding-right: 1.5rem !important;
      padding-left: 1.5rem !important;
    }
  }

  .btn-primary {
    background: transparent;
    border-color: transparent;

    &:hover {
      background: transparent;
    }

    &:focus {
      background: transparent;
    }
  }
}

.modal-body {
  .nav-link {
    color: #024531;
    font-family: brochablack;
  }
}

.modal-header {
  border-bottom: 0px;
}
