/* SLIDER INTRO*/
#slider-intro {
  /* carousel fullscreen */
  .carousel-fullscreen .carousel-inner .carousel-item {
    height: 100vh;
    min-height: 600px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    @media (max-width: 900px) {
      height: 124vh;
    }
  }

  /* carousel fullscreen - vertically centered caption*/
  .carousel-fullscreen .carousel-caption {
    top: 50%;
    bottom: auto;
    transform: translateY(-50%);
    color: #024531;
    font-family: brochablack;
    margin-top: 15px;

    p {
      margin-bottom: 0px;
    }

    .btn-primary {
      background-color: #336f5b;
      border-radius: 50px;
      border-color: #336f5b;
      font-size: 29px;
      padding: 10px 40px;
      text-align: left;
    }

    @media (min-width: 900px) {
      .text-caption {
        line-height: 91px;

        .one {
          font-size: 3.5rem;
          margin-left: 23px;
          text-align: left;
        }

        .two {
          font-size: 8rem;
          margin-top: -25px;
          text-align: left;
        }

        .three {
          font-size: 3.5rem;
          margin-left: 200px;
          text-align: left;
        }
      }

      .product-description {
        font-size: 29px;
        text-align: left;
        margin-left: 35px;
      }

      .btn-slider {
        text-align: left;

        .btn-primary {
          background-color: #336f5b;
          border-radius: 50px;
          border-color: #336f5b;
          font-size: 29px;
          padding: 10px 40px;
          text-align: left;
          margin-left: 35px;
        }
      }
    }
  }

  .carousel .carousel-item {
    transition-duration: 1.5s;
  }

  .carousel-indicators {
    > li {
      background-color: #6d9682;
      border-radius: 50%;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      margin-bottom: 2rem;
    }
  }

  .carousel-indicators .active {
    background-color: #024531;
  }

  @media (max-width: 800px) {
    .text-caption {
      line-height: 45px;
      font-size: 48px;
    }

    .product-description {
      font-size: 20px;
    }

    .btn-primary {
      font-size: 23px !important;
      padding: 10px 40px !important;
    }
  }
}

/* SLIDER MIDDLE */

.container-fluid {
  margin: 74px 0;

  .slick .slider-cardapio {
    display: block;
    position: relative;
    text-align: center;
    transform: translate(0, 0) scale(0.4);
    transition: all 0.4s ease;
    opacity: 0.5;
  }

  .slick-slide.lt2 .slider-cardapio {
    transform: translate(10%, 0) scale(0.6);
  }
  .slick-slide.lt1 .slider-cardapio {
    opacity: 0.7;
    transform: translate(5%, 0) scale(0.8);
  }
  .slick-slide.gt1 .slider-cardapio {
    opacity: 0.7;
    transform: translate(-5%, 0) scale(0.8);
  }
  .slick-slide.gt2 .slider-cardapio {
    transform: translate(-10%, 0) scale(0.6);
  }
  .slick-slide.slick-center .slider-cardapio {
    z-index: 1;
    transform: scale(1);
    opacity: 1;
  }

  .slick-prev {
    width: 40px;
    height: 40px;
    background-image: url(../../assets/images/seta-prev.png);
    background-repeat: no-repeat;

    @media (min-width: 901px) {
      left: 20%;
    }

    @media (max-width: 900px) {
      left: 10%;
    }

    &:before {
      content: "";
    }

    &:hover {
      background-image: url(../../assets/images/seta-prev.png);
      background-repeat: no-repeat;
    }
  }
  .slick-next {
    width: 40px;
    height: 40px;
    background-image: url(../../assets/images/seta-next.png);
    background-repeat: no-repeat;

    @media (min-width: 901px) {
      right: 20%;
    }

    @media (max-width: 900px) {
      right: 10%;
    }

    &:before {
      content: "";
    }

    &:hover {
      background-image: url(../../assets/images/seta-next.png);
      background-repeat: no-repeat;
    }
  }

  .slider-cardapio {
    p {
      color: #024531;
      font-weight: bold;
      font-family: brochablack;
      margin-top: 25px;
      font-size: 25px;
      margin: 0px;
    }

    .receita {
      color: #024531;
      font-size: 15px;
      font-family: brochabook;
      padding: 0px 30px;
      margin-top: 5px;
    }

    .btn-primary {
      padding: 6px 23px;
      margin: 0px 5px;
      background: #024531 !important;
      color: #fff !important;
    }
  }
}
